@{
    ViewData["Title"] = "Index";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Users" asp-action="Index">Felhasználók</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Sites" asp-action="AdminView">Telephelyek</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Materials" asp-action="AdminView">Anyagok</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Roles" asp-action="AdminView">Szerepkörök</a></li>
</ol>
