@{
    ViewData["Title"] = "Index";
}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Felhasználók</a>
    <a class="nav-link" asp-area="" asp-controller="Sites" asp-action="AdminView">Telephelyek</a>
    <a class="nav-link" asp-area="" asp-controller="Materials" asp-action="AdminView">Anyagok</a>
    <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="AdminView">Szerepkörök</a>
</nav>
