
@{
    ViewData["Title"] = "Index";
}
<h2>Admin Index CSHTML</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Admin" asp-action="Users">Felhasználók</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Sites">Telephelyek</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Anyagok</a></li>
        <li><a asp-area="" asp-controller="Booking" asp-action="Index">Szerepkörök</a></li>
    </ul>
</div>








