
@{
    ViewData["Title"] = "Szerepkörök";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Admin" asp-action="Users">Felhasználók</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Admin" asp-action="Sites">Telephelyek</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Admin" asp-action="Materials">Anyagok</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Admin" asp-action="Roles">Szerepkörök</a></li>
</ol>
<div class="card">
    <div class="card-header">
        Szerepkörök
    </div>

    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6" style="width: 30px">
                    <button id="newRole" onclick="addNewRole()" class="btn btn-primary">Új szerepkör</button>
                    <br />
                    <b>Kereső:</b>
                    <input type="text" id="roleSearchInput" onkeyup="roleSearch()" class="form-control" placeholder="Search for roles...">
                    <b>Szerepkörök:</b>
                    <table id="roleTable" class="table table-bordered"></table>
                </div>
                <div class="col-6">
                    <div float="left">Felhasználói beállítások:</div> <b id="rolename">-</b>
                    <div class="row">
                        <div class="col-4" style="width: 30px">

                            <div class="roleCategories">Anyagok:</div>
                            <div class="roleCategories">Telephelyek:</div>
                            <div class="roleCategories">Felhasználók:</div>
                            <div class="roleCategories">Átvevői felület:</div>
                            <div class="roleCategories">Beszállítói limitek:</div>
                            <div class="roleCategories">Foglalási felület:</div>
                            <div class="roleCategories">Riport felület:</div>
                            <div class="roleCategories">EKÁER felület:</div>
                        </div>
                        <div class="col-7" style="width: 30px">
                            <select name="roles" id=0 class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id=1 class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id=2 class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id="3" class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id="4" class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id="5" class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id="6" class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                            <select name="roles" id="7" class="custom-select">
                                <option value="1">  Nem elérhető      </option>
                                <option value="2">  Csak olvasás      </option>
                                <option value="3">  Írás és Olvasás   </option>
                            </select>
                        </div>
                    </div>
                    <button id="saveChanges" onclick="submit()" class="btn btn-success">Módosítások mentése</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br />
<script>

    var roleArray = new Array();
    roleArray[0] = "Átvevő";
    roleArray[1] = "Beszállító";
    roleArray[2] = "Beszerző";
    roleArray[3] = "Elszámoló";
    roleArray[4] = "Rendszergazda";

    var adminArray = new Array();
    adminArray[0] = "1";
    adminArray[1] = "1";
    adminArray[2] = "2";
    adminArray[3] = "2";
    adminArray[4] = "2";
    adminArray[5] = "3";
    adminArray[6] = "3";
    adminArray[7] = "3";


    function dropDown()
    {
        for (var i = 0; i < adminArray.length; i++)
        {
            document.getElementById(i).value = adminArray[i];
        }
    }

    document.getElementById(0).addEventListener("change", dropDownChange);
    document.getElementById(1).addEventListener("change", dropDownChange);
    document.getElementById(2).addEventListener("change", dropDownChange);
    document.getElementById(3).addEventListener("change", dropDownChange);
    document.getElementById(4).addEventListener("change", dropDownChange);
    document.getElementById(5).addEventListener("change", dropDownChange);
    document.getElementById(6).addEventListener("change", dropDownChange);
    document.getElementById(7).addEventListener("change", dropDownChange);

    function dropDownChange(event)
    {
        adminArray[event.target.id] = document.getElementById(event.target.id).value;
    }


    function addNewRole()
    {
        var newMaterial = prompt("Adjon meg egy új anyagot.");
        roleArray.push(newMaterial);
        generateRoleTable();
    }

    function generateRoleTable()
    {
        var tbl = document.getElementById("roleTable");
        var tblBody = document.createElement("tbody");

        for (var i = 0; i < roleArray.length; i++)
        {
            var row = document.createElement("tr");
            row.setAttribute("rowIndes", i);

            var cell = document.createElement("td");
            var cellText

            cellText = document.createTextNode(roleArray[i]);


            cell.appendChild(cellText);
            row.appendChild(cell);
            tblBody.appendChild(row);
        }
        while (tbl.firstChild)
        {
            tbl.removeChild(tbl.firstChild);
        }
        tbl.appendChild(tblBody);
        tbl.setAttribute("border", "2");
    }

    document.getElementById("roleSearchInput").addEventListener("change", roleSearch);

    function roleSearch()
    {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("roleSearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("roleTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++)
        {
            td = tr[i].getElementsByTagName("td")[0];

            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {

                    tr[i].style.display = "";
                }
                else
                {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    document.getElementById("roleTable").addEventListener("click", tableRowSelect);

    function tableRowSelect(event)
    {
        let nameField = document.getElementById("rolename");
        nameField.innerHTML = event.target.parentElement.children[0].innerHTML;
        nameField.number = event.target.parentElement.rowIndex;

    }

    generateRoleTable();
    dropDown();

</script>
<style>
    #roleTable {
        text-align: center;
        border-collapse: collapse; /* Collapse borders */
        width: 40%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
        table-layout: fixed
    }

    tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f1f1f1;
    }


    #roleSearchInput, #roleName {
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 40%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    .custom-select, .roleCategories {
        width: 50%;
        font-size: 16px; /* Increase font-size */
        margin-bottom: 7px; /* Add some space below the input */
        padding: 10px; /* Add some padding */
        margin-top: 8px;
        text-align: left;
    }

    .custom-select{
        padding :8px;
    }

    .roleCategories {
        width: 100%;
    }

    #saveChanges {
        margin-top: 40px;
        float: right;
    }

    #newRole {
        margin-bottom: 20px;
    }
</style>
