
@{
    ViewData["Title"] = "Sites";
}
<h2>Sites</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Felhasználók</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">Telephelyek</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Anyagok</a></li>
        <li><a asp-area="" asp-controller="Booking" asp-action="Index">Szerepkörök</a></li>
    </ul>
</div>




