
@{
    ViewData["Title"] = "Index";
}



<h2>Felhasználók</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Admin" asp-action="Users">Felhasználók</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Sites">Telephelyek</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Materials">Anyagok</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Roles">Szerepkörök</a></li>
    </ul>
</div> 
<br /> <br />

<input type="text" id="nameSearchInput" onkeyup="nameSearch()" placeholder="Search for names...">
<input type="text" id="usernameSearchInput" onkeyup="usernameSearch()" placeholder="Search for username...">
  
<form id="roleInputForm">
    <select name="roles" id="roleInput">
        <option value="all">            Összes          </option>
        <option value="átvevő">         Átvevő          </option>
        <option value="beszállító">     Beszállító      </option>
        <option value="beszerző">       Beszerző        </option>
        <option value="elszámoló">      Elszámoló       </option>
        <option value="rendszergazda">  Rendszergazda   </option>
    </select>
</form>



<table id="userTable">
    <tr class="header">
        <th style="width:60%;">Név</th>
        <th style="width:40%;">Felhasználónév</th>
        <th style="width:40%;">Szerepkör</th>
    </tr>
    <tr rowIndex = 1>
        <td>Alfred</td>
        <td>Alf</td>
        <td>Rendszergazda</td>
    </tr>
    <tr rowIndex = 2>
        <td>Balázs</td>
        <td>Bzs</td>
        <td>Beszállító</td>
    </tr>
    <tr rowIndex =3>
        <td>István</td>
        <td>Isti</td>
        <td>Beszállító</td>
    </tr>
    <tr rowIndex =4>
        <td>Koppány</td>
        <td>Kopi</td>
        <td>Elszámoló</td>
    </tr>
</table>

<p id="username"></p>
<p id="name"></p>
<p id="role"></p>


<script>

    //Dropdown menu search
    document.getElementById("roleInput").addEventListener("change", roleSearch);
    //On row click search
    document.getElementById("userTable").addEventListener("click", tableRowSelect);

    function nameSearch()
    {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("nameSearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++)
        {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                }
                else
                {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function usernameSearch()
    {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("usernameSearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++)
        {
            td = tr[i].getElementsByTagName("td")[1];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                }
                else
                {
                    tr[i].style.display = "none";
                }
            }
        }
    } 

    function roleSearch()
    {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("roleInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        if (input.value != "all")
        {
            for (i = 0; i < tr.length; i++)
            {
                td = tr[i].getElementsByTagName("td")[2];
                if (td)
                {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                    {
                        tr[i].style.display = "";
                    }
                    else
                    {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
        else
        {
            for (i = 0; i < tr.length; i++)
            {
                td = tr[i].getElementsByTagName("td")[2];
                if (td)
                {
                    tr[i].style.display = "";

                }

            }
        }
    }

    function tableRowSelect(event)
    {
        document.getElementById("username").innerHTML = "Felhasználói beállítások: " + event.target.parentElement.children[1].innerHTML;
        document.getElementById("name").innerHTML = "Név: " + event.target.parentElement.children[0].innerHTML;
        document.getElementById("role").innerHTML = "Szerepkör: " + event.target.parentElement.children[2].innerHTML;
    }


</script>



<style>

    /*TABLE DESIGN*/

    #userTable 
    {
        border-collapse: collapse; /* Collapse borders */
        width: 50%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #userTable th, #userTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

    #userTable tr 
    {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

        #userTable tr.header, #userTable tr:hover {
            /* Add a grey background color to the table header and on hover */
            background-color: #f1f1f1;
        }

    /*NAME SEARCHFIELD DESIGN*/

    #nameSearchInput 
    {
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 20%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    /*USERNAME SEARCHFIELD DESIGN*/

    #usernameSearchInput 
    {
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 20%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    /*  DROPDOWN SEARCH DESIGN */

    #roleInput
    {
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

</style>



